@()
@main("Home")("STUFF"){
	<section role="main" class="callout">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<h1>Compare your skills - get promoted.</h1>
					<p>Progredi&trade; is Asurion's newest innovation to drive employee advancement. This advancement tool allows you to assess your skills and plot your strategy for scaling the corporate ladder.</p>
					<div class="btn-group--cta">
						<a href="" class="btn btn-primary">Get started</a>
						<a href="#learnMore" class="btn btn-learnMore">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="learnMore">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>How it works</h2>
					<div class="row">
						<div class="col-xs-12 col-sm-3">
							<h3>Step 1</h3>
							<p>Compare your skills with other people in the industry and in the company.</p>
						</div>
						<div class="col-xs-12 col-sm-3">
							<h3>Step 2</h3>
							<p>Get a 360 review from your peers to learn where you're excelling and where you need help.</p>
						</div>
						<div class="col-xs-12 col-sm-3">
							<h3>Step 3</h3>
							<p>Get a comprehensive performance report and submit your results for an independent review.</p>
						</div>
						<div class="col-xs-12 col-sm-3">
							<h3>Step 4</h3>
							<p>Get promoted (fairly, equitably).</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

}
